/* 星 遍历页面的所有标签*/
*{
	/*外边距*/
	margin: 0px;
	/*内边距*/
	padding: 0px;
	/*去掉无序列表的实心点*/
	list-style: none;
	/*去掉a连接的下划线*/
	text-decoration: none;
}
body{
	font: normal 12px/1.6em Microsoft YaHei,Tahoma,simsun;
}
b{
	font-weight: 100;
}
/*群组选择器*/
html, body{
	width: 100%;
	height: 100%;
}
/* 井号 id选择器*/
#headerBox{
	height: 90px;
	width: 100%;
	background-color: #0b0b0b;
}
#header{
	width: 1240px;
	height: 90px;
	/*参数一：距离上下的外边距  参数二：auto左右平均分配*/
	margin: 0 auto;
	/*相对定位：相对于当前位置进行定位*/
	position: relative;
}
.logo{
	width: 190px;
	height: 100px;
	/*背景：url() 资源的路径  no-repeat：不重复  */
	/* 0 距离左侧的距离   -30px 距离上侧的距离*/
	background: url(../img/spr-v2.png) no-repeat 0 -30px;
	/*向左浮动*/
	float: left;
	position:absolute ;
	left: 0;
	/*堆叠顺序 */
	z-index: 1;
}
.nav{
	width: 600px;
	height: 90px;
	float: left;
	/*距离左侧的外边距*/
	margin-left: 185px;
}
/*派生选择器*/
.nav li{
	float: left;
	width: 120px;
	/*内容居中显示*/
	text-align: center;
}
.nav li a{
	/*显示出来*/
	display: block;
	margin-top: 30px;
	/*修饰字体颜色*/
	color: #fafafa;
	/*设置字体大小*/
	font-size: 18px;
}
.nav li a span{
	display: block;
	color: #838374;
	/*缩放*/
	transform: scale(0.6);
}
.go a{
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 17px;
	margin-top: 30px;
	background: url(../img/spr-v2.png) no-repeat;
}
.go .search{
	/*调整背景图片的位置
	 * 参数一：水平位置
	 * 参数二：竖直位置
	 */
	background-position:  -8px 0;
}
.go .phone{
	background-position: -44px 0;
}
/*-----个人中心-----*/
.user{
	width: 350px;
	height: 90px;
	float: left;
	position: relative;
}
.usersection{
	width: 350px;
	height: 90px;
}
.usersection div, .usersection i{
	float: left;
}

.usersection i{
	width: 73px;
	height: 73px;
	margin-top: 8px;
	margin-left: 20px;
	position: relative;
}
.usersection i img{
	width: 100%;
	/*边框的弧度 当宽高一致时，设置弧度为50%，就会变成圆*/
	border-radius: 50%;
}
.usersection i b{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 99;
	width: 73px;
	height: 73px;
	background: url(../img/spr-v2.png) no-repeat -1px -169px;
}
.usersection div{
	width: 230px;
	margin-left: 20px;
}
.usersection div h1{
	font-size: 16px;
	margin-top: 25px;
	color: #f6f6f6;
	font-weight: 100;
}
.usersection div h1 a{
	color: blanchedalmond;
	/*添加文本下面的下划线*/
	text-decoration: underline;
}
.usersection div p{
	color: #999;
	margin-top: 3px;
}
/*-----展开部分的样式------*/
.userselect{
	position: absolute;
	width: 350px;
	height: 114px;
	background: rgba(27,27,27,0.9);
	color: #868686;
	font-size: 14px;
	top: 90px;
	left: 0;
	z-index: 88;
	/*将展开的区域隐藏掉*/
	display: none;
}
.user:hover .usersection{
	background: rgba(27,27,27,0.9);
}
.user:hover .userselect{
	display: block;
}
.userselect div{
	/*内边距 
	 	参数一：距离上
	 	参数二：距离左右
	 	参数三：距离下
	 * */
	padding: 20px 30px 0 ;
	height: 78px;
}
.userselect a{
	display: block;
	height: 36px;
	text-align: center; 
	/*当line-height 和 height一致时，上下居中*/
	line-height: 36px;
	background: #161413;
	color: #e0e0e0;
}
.layer{
	width: 100%;
	height: 190px;
	padding: 20px 0;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 90px;
	left: 0;
	/*display: block;*/
	display: none; /*隐藏*/
	z-index: 88;
}
#box{
	width: 1240px;
	height: 190px;
	margin: 0 auto;
}
.box-list{
	width: 600px;
	height: 190px;
	margin-left: 185px;
}
.box-list ul{
	width: 120px;
	float: left;
	text-align: center;
	line-height: 26px;
}
.box-list ul a{
	color: #f5f5f5;
	font-size: 14px;
}
.box-list ul a:hover{
	color: orange;
}
.box-list ul a s{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/spr-v2.png) no-repeat -107px 0;
}
.box-list ul a b{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/spr-v2.png) no-repeat -129px 0;
}
#spread{
	/*隐藏溢出*/
	overflow: hidden;
	min-width: 1240px;
	height: 350px;
	position: relative;
}
/*子元素选择器*/
#spread>video{
	position: absolute;
	height: 350px;
	left: 50%;
	margin-left: -960px;
	z-index: -1;
}
#spread-section{
	width: 1240px;
	height: 350px;
	margin: 0 auto;
}
#spread-section h1{
	font-size: 48px;
	color: #f3d9a4;
	height: 50px;
	line-height: 50px;
	margin-top: 40px;
	/*背景颜色线性渐变*/
	background-image: linear-gradient(to Top,#b18834,#f8dfac);
	-webkit-background-clip: text;
	/*设置文字的填充颜色为透明*/
	-webkit-text-fill-color: transparent;
	/*定义英文字符*/
	text-transform: uppercase;
}
#spread-section p{
	font-size: 14px;
	color: #dbdbdb;
	line-height: 35px;
}
#spread-section div{
	border: 1px solid #987630;
	width: 220px;
	height: 120px;
	position: relative;
}
#spread-section div video{
	width: 100%;
}
#spread-section div i{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	width: 35px;
	height: 50px;
	background: url(../img/spr-v2.png) no-repeat -229px -32px;
}
.detail{
	display: block;
	width: 156px;
	height: 36px;
	/*边框：参数一：边框的宽度
	 * 参数二： solid实线    dashed虚线
	 * 参数三：边框的颜色
	 */
	border: 2px solid #c89b3c;
	color:#c89b3c ;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
	margin-top: 15px;
}
#alt-MP4{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	/*相当于浏览器窗口进行定位*/
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	/*display: block;*/
	display: none;
}
#alt-MP4 div{
	width: 900px;
	height: 550px;
	position: relative;
	margin: auto;
	margin-top: 50%;
	top: -650px;
}
#alt-MP4 div video{
	width: 100%;
	height: 100%;
}
#alt-MP4 div span{
	position: absolute;
	right: -50px;
	top: 35px;
	width: 50px;
	height: 50px;
	font-size: 80px;
	color: #c89b3c;
	/*修改鼠标的图标*/
	cursor: pointer;
}
#sectionBox{
	background: #f7f7f7;
	height: 1320px;
	border-top: 2px solid #8c6c2d;
}
#section-nav{
	width: 100%;
	height: 60px;
	background-image: linear-gradient(to Top,#f2f2f2,#fff);
	/**
	 * 参数一：必需：水平阴影的位置
	 * 参数二：必需，竖直阴影的位置
	 * 参数三：可选，模糊距离
	 * 参数四：可选，阴影的尺寸
	 * 参数五：阴影颜色
	 */
	box-shadow: 0px 0px 18px 0px #666 ;
}
#section-nav ul{
	width: 1240px;
	height: 60px;
	margin: 0 auto;
}
#section-nav li{
	float: left;
	margin-right: 10px;
}
#section-nav .section-li{
	background: url(../img/spr-v2.png) no-repeat -290px -26px;
	height: 60px;
	width: 11px;
}
#section-nav li a{
	display: block;
	height: 60px;
	box-sizing:border-box ;
	line-height: 60px;
	font-size: 20px;
	padding: 0 15px;
	color: #555;
}
#section-nav li .nowsection{
	color: #d1ab57;
	border-bottom: 2px solid #d1ab57;
}
/*------轮播图区域-----*/
#section-bannerBox{
	width: 1240px;
	height: 400px;
	margin: 40px auto;
}
#banner{
	width: 820px;
	height: 400px;
	float: left;
	/*隐藏溢出*/
	overflow: hidden;
}

.bannerimg{
	width: 4100px;
	height: 350px;
	/*等会添加过渡效果*/
	transition: all 1s;
}
.bannerimg li{
	width: 820px;
	height: 350px;
	float: left;
}
.bannerimg li img{
	width: 820px;
	height: 350px;
}

/*轮播图导航*/
.bannernav{
	height: 50px;
}
.bannernav li{
	text-align: center;
	float: left;
	line-height: 50px;
}
.bannernav li a{
	background: #121112;
	width: 164px;
	height: 50px;
	display: block;
	color: #c8c8c8;
}
.bannernav .now{
	color: #e9c06c;
	background: #303030;
}

.aside-nav{
	width: 400px;
	height: 400px;
	float: right;
}
.aside-list{
	overflow: hidden;
	margin-top: 13px;
}
.aside-list li{
	float: left;
	width: 130px;
	height: 55px;
	background: white;
	margin-top: 3px;
	margin-right: 5px;
	cursor: pointer;
	position: relative;
}
.aside-list li:hover{
	background: #f0f0f0;
}
/*找到父元素的子元素的 第 3 6 9 12 个 */
.aside-list li:nth-child(3n){
	margin-right: 0;
}
.aside-list li a{
	display: block;
	color: #555;
}
.aside-list li a i{
	float: left;
	height: 32px;
	width: 25px;
	background: url(../img/spr-v2.png) no-repeat;
	margin: 12px 5px 11px 25px;
}
.aside-list li:nth-child(1) a i{
	/*距离左侧的像素值*/
	background-position: -202px 0;
}
.aside-list li:nth-child(2) a i{
	/*距离左侧的像素值*/
	background-position: -231px 0;
}
.aside-list li:nth-child(3) a i{background-position:-261px 0 ;}
.aside-list li:nth-child(4) a i{background-position:-291px 0 ;}
.aside-list li:nth-child(5) a i{background-position:-321px 0 ;}
.aside-list li:nth-child(6) a i{background-position:-351px 0 ;}
.aside-list li:nth-child(7) a i{background-position:-381px 0 ;}
.aside-list li:nth-child(8) a i{background-position:-411px 0 ;}
.aside-list li:nth-child(9) a i{background-position:-441px 0 ;}
.aside-list li:nth-child(10) a i{background-position:-471px 0 ;}
.aside-list li:nth-child(11) a i{background-position:-501px 0 ;}
.aside-list li:nth-child(12) a i{background-position:-531px 0 ;}

.aside-list li a span{
	float: left;
	line-height: 55px;
}
.aside-list li a b{
	width: 14px;
	height: 14px;
	position: absolute;
	background: url(../img/spr-v2.png) no-repeat -107px 0;
}
.aside-list li a s{
	width: 14px;
	height: 14px;
	position: absolute;
	background: url(../img/spr-v2.png) no-repeat -129px 0;
}

#section-news{
	width: 1240px;
	height: 720px;
	margin: 60px auto;
}
.news-list{
	width: 820px;
	height: 720px;
	float: left;
	display: inline;
}
.news-list>h1{
	height: 45px;
	border-bottom: 4px solid #eaeaea;
}
/*群组选择器*/
.news-list>h1 div, .news-list h1 ul{
	float: left;
}
/*最新资讯*/
.news-list>h1 div{
	width: 144px;
	font-size: 26px;
	font-weight: 100;
	line-height: 45px;
}
.new-navList li{
	color: #666666;
	float: left;
	font-size: 18px;
	width: 168px;
	height: 45px;
	text-align: center;
	line-height: 60px;
	font-weight: 100;
}
.new-navList .nownews{
	font-weight: 900;
	color: #D1AB57;
	border-bottom: 4px solid #D1AB57;
}


.new-list-section-top{
	margin: 25px 0;
	width: 812px;
	height: 125px;
	display: none;
}
.new-list-section-top a{
	width: 200px;
	height: 125px;
	float: left;
}
.new-list-section-top a img{
	width: 200px;
	height: 125px;
}
.new-list-section-top div{
	width: 589px;
	float: left;
	padding-left: 20px;
}
.new-list-section-top div h1{
	width: 100%;
	overflow: hidden;
	font-size: 36px;
	line-height: 55px;
	/*溢出文本显示省略号*/
	text-overflow: ellipsis;
	/*设置文本不换行*/
	white-space: nowrap;
}
.new-list-section-top div p{
	font-size: 14px;
	line-height: 24px;
	color: #898989;
}

.news-listsection{
	display: none;
}
.news-listsection li{
	width: 820px;
	height: 35px;
	margin-top: 8px;
	font-size: 16px;
	line-height: 35px;
}
.news-listsection li b{
	width: 68px;
	height: 35px;
	float: left;
	text-align: center;
	color: #7a7a7a;
	background: #ebebeb;
}
.news-listsection li a{
	float: left;
	margin-left: 22px;
}
.news-listsection li span{
	float: right;
	color: #babacc;
}
.news-listsection li:hover b{
	background: #d1ab57;	
	color: white;
}
.news-listsection li:hover a{
	color: #d1ab57;
}
.news-list-section>a{
	display: block;
	background: #f0f0f0;
	width: 820px;
	height: 45px;
	margin-top: 20px;
	text-align: center;
	line-height: 45px;
	font-size: 16px;
	color: #000;
}
.news-list-section>a>em{
	color: #1dab57;
	font-style: normal;
}
.news-hero{
	display: inline;
	float: right;
	width: 400px;
}
.news-hero .new-navList{
	height: 45px;
	width: 400px;	 
	border-bottom: 4px solid #ededed;
}
.news-hero .new-navList li{
	float: left;
	width: 33%;
	height: 45px;
}

.hero-list{
	margin-top: 5px;
	width: 400px;
}
.hero-list li{
	float: left;
	width: 195px;
	height: 70px;
	margin-top: 10px;
	margin-right: 10px;
	position: relative;
}
.hero-list li:nth-child(2n){
	margin-right: 0;
}
.hero-list li img{
	width: 100%;
	height: 100%;
}
.hero-list li div{
	width: 195px;
	height: 70;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	color: #d1ab57;
	background: rgba(0,0,0,0.7);
	display: none;
}
.hero-list li:hover div{
	display: block;
}

.news-hero>p{
	text-align: right;
	color: #898989;
	line-height: 30px;
}
.dc{
	display: block;
	width: 100%;
	height: 90px;
	margin-top: 40px;
}
.dc img{
	width: 100%;
	height: 90px;
}
.lovealt{
	width: 100%;
	height: 70px;
	margin-top: 25px;
}
.lovealt i{
	width: 70px;
	height: 70px;
	float: left;
	background: url(../img/spr-v2.png) no-repeat -330px -89px;
}
.lovealt div{
	width: 322px;
	height: 70px;
	float: right;
}
.lovealt div h2{
	font-size: 14px;
	height: 28px;
	line-height: 28px;
	font-weight: 100;
}
.lovealt div p{
	color: #878787;
	line-height: 20px;
}
.lovealt div p span{
	margin-right: 3px;
}

/*选择器*/
/*id选择器，使用 # */
#footerBox{
	/*最小宽度*/
	min-width: 1240px;
	height: 156px;
	/*background 背景   url 资源文件的路径*/
	/*no-repeat 不重复*/
	/*center 居中显示*/
	background: url(../img/bg-footer.jpg) no-repeat center ;
}
#footer{
	width: 1240px;
	height: 156px;
	/*外边距*/
	/*外边距 
	 * 参数一：距离上下的外边距
	 * 参数二：距离左右的距离  auto平均分配
	 */
	margin: 0 auto;
}
/* 点 类选择器 */
.footersection{
	width: 670px;
	height: 100px;
	/*距离上面的外边距*/
	margin-top: 28px;
	/*浮动，将内容调整到右侧*/
	float: right;
}
/*派生选择器*/
.footersection ul{
	/*隐藏溢出*/
	overflow: hidden;
}
.footersection ul li{
	height: 14px;
	/*浮动，向左浮动*/
	float: left;
	margin-right: 5px;
	/*右边框*/
	/*实线：solid */
	/*虚线：dashed*/
	border-right:1px solid #367693 ;
	/*右边距*/
	padding-right: 5px;
	/*修改字体颜色*/
	color: #367693;
	/*行高(当行高和高度的值一致时，上下居中)*/
	line-height: 14px;
}
/*思路：找到网站导航的li标签，去掉它的右边框*/
.footersection li:last-child{
	/*去掉边框*/
	border: none;
}
.footersection a{
	color: #367693;
}
.footersection p{
	color: #425555;
}
.footersection .footer-li{
	color: white;
}























